{% extends 'shared/_base.html' %} 

{% block content %}

<div class="container">
  <div class="content-md container-sm border-bottom-1">
    <div class="row">
      <div class="col-sm-7 sm-margin-b-50">
        <div class="heading-v1 margin-b-30">
          <h2 class="heading-v1-title">Welcome to Posanzy GHANA Limited</h2>
        </div>

        <div class="margin-b-30">
          <h3>Why Choose US?</h3>
          <p>
            When it comes to healthy, quality and affordable meat products,
            POSANZY GHANA LIMITED has the power to the production and
            distribution of meat products such as goat meat, cow meat, locally
            grown poultry for the local and international market
          </p>
          <h3>Our MISSION</h3>
          <p>
            We are dedicated to producing and marketing quality meat products
            that suits today's changing lifestyle and to excel in the provision
            of customer-focused and market driven services in healthy meat
            production
          </p>
          <h3>Our VISION</h3>
          <p>
            To be Ghana's first choice full time meat industry which provides
            quality and healthy meat products to influence market forces through
            vibrant and sustainable activities that reduces poverty, the risk of
            consuming unhealthy meat products and to increase contributions to
            GDP growth
          </p>
        </div>
      </div>
      <div class="col-sm-5">
        <img class="img-responsive" src="static/images/boer.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="content-md container-sm">
    <div class="row">
      <div class="col-sm-5 col-sm-push-7 sm-margin-b-30">
        <div class="heading-v1 margin-b-30">
          <h2 class="heading-v1-title">Good to know. Meet the talents ...</h2>
          <p class="heading-v1-subtitle">
            Our most stylish homegrown talents on their passions
          </p>
        </div>
      </div>
      <div class="col-sm-7 col-sm-pull-5">
        <div class="row">
          <div class="col-xs-6 xs-full-width xs-margin-b-30">
            <div class="overflow-h">
              <div
                class="team-v2 wow fadeInLeft"
                data-wow-duration=".2"
                data-wow-delay=".2s"
              >
                <div class="team-v2-img-gradient">
                  <img class="img-responsive" src="static/images/Sanzy.jpg" alt="" />
                </div>
                <div class="team-v2-content">
                  <div class="team-v2-center-align">
                    <h4 class="team-v2-member">Amamata Nancy Bondiyiri</h4>
                    <span class="team-v2-member-position"
                      >Executive Director</span
                    >
                  </div>
                </div>
                <a class="team-v2-link" href="#"></a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 xs-full-width">
            <div class="overflow-h">
              <div
                class="team-v2 wow fadeInLeft"
                data-wow-duration=".2"
                data-wow-delay=".1s"
              >
                <div class="team-v2-img-gradient">
                  <img
                    class="img-responsive"
                    src="static/images/Possible.jpg"
                    alt=""
                  />
                </div>
                <div class="team-v2-content">
                  <div class="team-v2-center-align">
                    <h4 class="team-v2-member">Emmanuel Kwao Ametepey</h4>
                    <span class="team-v2-member-position">Marketing</span>
                  </div>
                </div>
                <a class="team-v2-link" href="#"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
