<section id="Clients" class="light-wrapper mt-5">
	<div class="container inner">
		<div class="row">
			<div class="Last-items-shop col-md-3 col-sm-6">
				<!-- Block heading two -->
				<div class="block-heading-two block-heading-three">
					<h3><span>Special Offer</span></h3>
				</div>
				<!--<div class="Top-Title-SideBar">
						<h3>Special Offer</h3>
					</div>-->
				<div class="Last-post">
					<ul class="shop-res-items">
						<li>
							<a href="#"><img src="static/images/1 (4).jpeg" alt="" /></a>
							<h6><a href="#">Skinless Goat Meat</a></h6>
							<span class="sale-date">23/11/2020</span>
						</li>
						<li>
							<a href="#"><img src="static/images/1 (6).jpeg" alt="" /></a>
							<h6><a href="#">Skinned Goat Meat</a></h6>
							<span class="sale-date">23/11/2020</span>
						</li>
						<li>
							<a href="#"><img src="static/images/1 (9).jpeg" alt="" /></a>
							<h6><a href="#">Boneless Goat Meat</a></h6>
							<span class="sale-date">23/11/2020</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="Last-items-shop col-md-3 col-sm-6">
				<!-- Block heading two -->
				<div class="block-heading-two block-heading-three">
					<h3><span>Best Sellers</span></h3>
				</div>
				<!--<div class="Top-Title-SideBar">
						<h3>Best Sellers</h3>
					</div>-->
				<div class="Last-post">
					<ul class="shop-res-items">
						<li>
							<a href="#"><img src="static/images/boer.jpg" alt="" /></a>
							<h6><a href="#">Boned Goat Meat</a></h6>
							<span class="sale-date">22/12/2020</span>
						</li>
						<li>
							<a href="#"><img src="static/images/1 (6).jpeg" alt="" /></a>
							<h6><a href="#">Goat Body Parts</a></h6>
							<span class="sale-date">22/12/2020</span>
						</li>
						<li>
							<a href="#"><img src="static/images/1 (7).jpeg" alt="" /></a>
							<h6><a href="#">Frozen Goat Meat</a></h6>
							<span class="sale-date">22/12/2020</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="Last-items-shop col-md-3 col-sm-6">
				<!-- Block heading two -->
				<div class="block-heading-two block-heading-three">
					<h3><span>Sales</span></h3>
				</div>
				<!--<div class="Top-Title-SideBar">
						<h3>Sales</h3>
					</div>-->
				<div class="Last-post">
					<ul class="shop-res-items">
						<li>
							<a href="#"><img src="static/images/beetal.jpg" alt="" /></a>
							<h6><a href="#">Live Goat</a></h6>
							<span class="sale-date">22/12/2020</span>
						</li>
						<li>
							<a href="#"><img src="static/images/boer.jpg" alt="" /></a>
							<h6><a href="#">Live Goat</a></h6>
							<span class="sale-date">22/12/2020</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
